@page
@model ADONetMovie_RazorPages.Pages.Movies.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>

            <div class="form-group">
                <label asp-for="@Model.Movie.Id" class="control-label"></label>
                <input asp-for="@Model.Movie.Id" class="form-control" />
                <span asp-validation-for="@Model.Movie.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.Title" class="control-label"></label>
                <input asp-for="@Model.Movie.Title" class="form-control" />
                <span asp-validation-for="@Model.Movie.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Movie.Year" class="control-label"></label>
                <input asp-for="@Model.Movie.Year" class="form-control" />
                <span asp-validation-for="@Model.Movie.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.Country" class="control-label"></label>
                <input asp-for="@Model.Movie.Country" class="form-control" />
                <span asp-validation-for="@Model.Movie.Country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Movie.ActorId" class="control-label"></label>
                <input asp-for="@Model.Movie.ActorId" class="form-control" />
                <span asp-validation-for="@Model.Movie.ActorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



